/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Youngjoo Lee
 * email: leey3@oregonstate.edu
 */

 a
 {
    text-decoration: none;
    font-weight: 100;
    color: white;
    font-family: "Roboto Slab";
    
 }
 .header-image-container
 {
     float: left;
     margin: 0%;
     padding: 0px;
     border: 0px;
 }
 .site-title {
     text-decoration: none;
     padding: 50px;
     height: 50px;
     font-size: 70px;
     
     font-family: serif;
     background-color: black;
     color: white;
     margin-top: 0%;
     margin-bottom: 20px;

 }

 .content
 {
     display: inline-block;
     
     /*
    clear: both;
     *zoom: 1;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;

     /*
     justify-content: space-around;
          align-items: left;
          */
}

.filter-container
{
    float: left;
    width: 280px;
    padding-left: 20px;
    background-color: rgb(236, 229, 229);
    font-family: "Roboto";
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;

}
.filter-input-container
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    
}

button#filter-update-button.action-button
{
    color: white;
    background-color: black;
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
#filter-update-button.action-button:hover
{
    background-color: rgb(224, 201, 180);
    color: black;
    cursor: pointer;
}
fieldset#filter-condition.filter-fieldset
{
    width: 215px;
    border: 1px solid gray;
}
#filter-text.filter-input
{
    height: 30px;
    width: 205px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#filter-min-price.filter-input
{
    height: 30px;
    width: 90px;
    margin-right: 7px;
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#filter-max-price.filter-input
{
    height: 30px;
    width: 90px;
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#filter-city.filter-input
{
    height: 30px;
    width: 205px;
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 5px;
}


#results
{
    /*
    float: right;  
    */
   /* 
    flex-wrap: wrap;


    flex-direction: row;
    align-items: left;
*/
    margin-left: 350px;
    text-align: center;
}
.result
{
    float: left;

}
.result-contents
{
    float: left;
    width: 410px;
    height: 350px;
    border: 2px solid lightgray;
    margin: 10px;
    font-family: "Roboto";

}
.result-image-container img
{
    min-width: 200px;
    max-width: 400px;
    min-height: 150px;
    max-height: 250px;
    margin: 5px;
}
.result-image-container
{
    width: 410px;
    height: 260px;
}
.result-info-container
{
    float: left;
    margin-left: 10px;
    text-align: left;
}
.result-city
{
    font-size: 20px;
}
a.result-title
{
    font-weight: bold;
    color: orangered;
    font-size: 20px;
}
a.result-title:hover
{
    text-decoration: underline;
}

.result-price
{
    border: 2px solid lightgray;
    background: rgb(216, 220, 224);
    border-radius: 5px;
    font-size: 15px;
    width: 40px;
}

button#sell-something-button
{
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50px;
    background-color: orangered;
    width: 70px;
    height: 70px;
}
i.fas.fa-plus
{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    font-size: 40px;
    position: fixed;
    right: 50px;
    bottom: 35px;
    color: white;
}

button#sell-something-button:hover
{
    cursor: pointer;
    width: 80px;
    height: 80px;
    right: 45px;
    bottom: 45px;
}
i.fas.fa-plus:hover{
    font-size: 50px;
    bottom: 40px;
}
